# 重建git索引: git rm -r --cached .
.DS_Store
node_modules
/dist
build

source.js
min.js
*-source.html

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
